@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,700&display=swap');


.prev {
  font-size: 2rem;
  margin-left: 10px;

}

.profile{
  margin: 50px auto;
  width: 90%;
  height: auto;

}

.profile-title {
  font-family: 'STIX Two Text', serif;
  font-size: 4.5rem;

}

.profile-image {
  float: right;
  width: 60%;
  height: 500px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.profile-description {
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif;

}
