@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


.wrappur {
  background: inherit;
  height: 100%;
  width: auto;
}

.copy-quote{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  white-space: nowrap;
  font-size: 1.1vw;
  text-align:center;

}

.wrapping-copy-nav{
  width: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 0.4rem;
}

.copy-nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  padding: 0rem;
}

.copy-message{
  display: inline;
  float: left;
  font-size: 1.3vw;
  margin: 0rem 0rem 3rem 1.2rem;
  margin-left: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: gold;



}

.copy-contact{
  display: inline;
  float: right;
  font-size: 1.3vw;
  margin: 0rem 1.2rem 3rem 0rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: gold;
}

.nav-itemBT{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  margin-top: 0px;
  padding: 0 0;
  font-family: 'Encode Sans SC', sans-serif;
  color: white;
  font-size: 1.1vw

}
#noomba{
  color: white
}
