@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


.gallery-page {
  background: #FFE4C4;
  height: 100%;
}

.gallery-title {
  text-align: center;
  font-size: 4rem;
  font-family: 'STIX Two Text', serif;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.gallery-description {
  margin: auto;
  width: 85%;
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Open Sans Condensed', sans-serif;
}


.gallery-carousel {
  margin: 1rem auto;
  width: 78%;
  height: 43rem;
  padding: 3rem;
  background: hsl(33, 100%, 94%);
  border: 1px solid black;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}
