@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');




.slide1, .slide2, .slide3, .slide4,
.slide5 {
  margin: auto;
  height: 350px;
  border: 1px solid black;
  border-radius: 12%;
  border: ridge;
  box-shadow: 8px 5px 5px grey;
  width: 80%;

}

.slide-title {
  font-family: 'Share Tech', sans-serif;
  text-align: center;
  font-size: 2.4rem
}

.slide-description {
  margin:auto;
  width: 52%;
  text-align:center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;

}

.bio-button {
  margin-right: 40px;;
}
